/* cacher checkbox initiale */
.container5 input {
    
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .container5 {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
  }
  
  
  /* checkbox customisee */
  .checkmark {
    position: relative;
    box-shadow: rgb(27, 30, 211) 0px 0px 0px 2px;
    background-color: rgba(16, 16, 16, 0.048);
    height: 20px;
    width: 20px;
    margin-right: 10px;
    flex-shrink: 0;
    margin-top: -1px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    transform-origin: 0px 10px;
    border-radius: 4px;
    margin: -1px 10px 0px 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .container5 input:checked ~ .checkmark {
    box-shadow: rgb(85, 91, 179) 0px 0px 0px 2px;
    background-color: rgba(24, 83, 245, 0.5);
    height: 20px;
    width: 20px;
    margin-right: 10px;
    flex-shrink: 0;
    margin-top: -1px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    transform-origin: 0px 10px;
    border-radius: 4px;
    margin: -1px 10px 0px 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container5 input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* le style */
  .container5 .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
    transition: all 500ms ease-in-out;
  }


  div.checkmark{
    position: absolute;
    right: 10px;
  }

  input.coche{
    margin-top: 35px;
  }












  body{
    accent-color: black;
    --other: hsl(0, 0%, 14%);
  }




h4{
  width: 50%;
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

  section {
    width: 50%;
    min-height: inherit;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    position: relative;
  }

.light {
  --primary: hsl(250, 100%, 44%);
  --other: hsl(0, 0%, 14%);

}


/* h1 */
h4 {
  color: var(--other);
  padding: 8px 4px;
  border-bottom: 2px solid var(--other);
}


/* label */
label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  margin: 12px 0;

  cursor: pointer;
  position: relative;
}


/* input */
input[type=radio] {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}


/* .design */
.design {
  width: 16px;
  height: 16px;

  border: 1px solid var(--other);
  border-radius: 100%;
  margin-right: 16px;

  position: relative;
}

.design::before,
.design::after {
  content: "";
  display: block;

  width: inherit;
  height: inherit;

  border-radius: inherit;

  position: absolute;
  transform: scale(0);
  transform-origin: center center;
}

.design:before {
  background: var(--other);
  opacity: 0;
  transition: .3s;
}

.design::after {
  background: var(--primary);
  opacity: .4;
  transition: .6s;
}


/* .text */
.text {
  color: var(--other);
  font-weight: bold;
}


/* checked state */
input[type=radio]:checked+.design::before {
  opacity: 1;
  transform: scale(.6);
}


/* other states */
input[type=radio]:hover+.design,
input[type=radio]:focus+.design {
  border: 1px solid var(--primary);
}

input[type=radio]:hover+.design:before,
input[type=radio]:focus+.design:before {
  background: var(--primary);
}

input[type=radio]:hover~.text {
  color: var(--primary);
}

input[type=radio]:focus+.design::after,
input[type=radio]:active+.design::after {
  opacity: .1;
  transform: scale(2.6);
}


.form{
margin-top: 50px;
}